.download-button {
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    background: var(--button-background);
    color: var(--secondary-foreground);
    border: none;
    height: 64px;
    border-radius: 32px;
    padding: 12px 28px;
    cursor: pointer;
    transition: background 0.2s ease, border-radius 0.2s ease;
}

    .download-button:hover {
        background: var(--button-background-hover);
        color: var(--primary-foreground);
        border-radius: 16px;
    }

.download-button-header-title-compact {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

@media (max-width: 600px) {
    .download-button-header-title-full {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .download-button-header-title-compact {
        visibility: inherit;
        width: auto;
        height: auto;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 360px) {
    h1 {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}
